body{
 font-family: helvetica, sans-serif;
    
    
}


.calculator{
    width: 200px;
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid black;
}

input {
    background-color:#660A3C;
    width: 60px;
    height: 40px;
    color: azure;
    border: 0;
    margin: 1px;
    
}

input[type=button]:active {
    background-color: black;
}

.clear{
    background-color: red;
}

.operator{
    background-color: forestgreen;
}

form input{
    background-color: white;
    width: 192px;
    height: 30px;
        border: 1px solid black;
    margin-bottom: 10px;
    color: black;
    text-align: right;
    font-size: 30px;
}

/*
form input:active{
    background-color: white;
}
*/

#textFrame{
 height: 40px;
}


.microwave{
    width: 270px;
    height: 300px;
    margin-left: 200px;
    background-color: grey;
    padding: 30px;
    box-shadow: 0px 0px 8px black;

}

.numbers{
    float: left;
  
}

.startrow{
    float: right;
    width: 60px;
margin-top: 68px;
 
}

.zero{
    margin-left: 66px;
}

.stop{
    background-color: firebrick;
}

.start{
    background-color: forestgreen;
}

.reset{
    background-color: greenyellow;
    color: black;
}

.preheat{
    width: 300px;
    float: right;
    margin-top: 20px;
    margin-right: -35px;
    
}
.preheat input{
    width: 80px;
    padding: 2px;
    
}

